
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink = "/">Ushur</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="/meta">Meta</a>
          </li>
          <ng-template #anonymouseUser>

            <li
            class="nav-item">
              <a class="nav-link"

              routerLink="/login">Login</a>
            </li>

          </ng-template>


          <li ngbDropdown *ngIf="auth.username | async as username; else anonymouseUser" class="nav-item dropdown ">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">

              {{username.displayName}}


            </a>
            <ul ngbDropdownMenu class="dropdown-menu  " aria-labelledby="dropdown01">
              <li><a  class="dropdown-item" routerLink = "../meta">Meta</a></li>
              <li><a class="dropdown-item" routerLink = "../admin/health">Health Status</a></li>
              <li><a class="dropdown-item" routerLink = "../metrics">Metrics</a></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>
